* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gothic A1', sans-serif;
}
.offer {
    height: 50px;
}
marquee {
    height: 100%;
    line-height: 50px;
}
.right-menu ul li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.right-menu ul li select {
    background-color: #f8f9fa;
    border: none;
}
.right-menu-icon {
    display: none;
}
.right-menu-icon ul li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.main-menu {
    max-width: 25vw;
}
@media (max-width: 992px) {
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 100%;
      height: 100%;
    }
    .main-menu {
        max-width: 100vw;
    }
    .navbar-collapse.collapsing {
      left: -100%;
      transition: height 0s ease;
    }

    .navbar-collapse.show {
      left: 0;
      transition: left 0ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
      transition: left 0ms ease-in-out;
    }
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .right-menu {
        display: none;
    }
    .right-menu-icon {
        display: block;
    }
}
.temp {
    width: 100vw;
    display: flex;
}
.temp div {
    margin: 10px;
}
@media (max-width: 700px) {
    .temp {
        flex-direction: column;
    }
    .temp-img2, .temp-img1 {
        margin: 10px;
    }
}
.about-store {
    background-color: #43380a;
    color: #fff;
}
.last-img img {
    width: 100%;
}
/****News Letter******/
.news-letter {
    text-align: center;
}
.news-letter input {
    width: 50%;
    padding: 5px 10px;
}
.subscribe {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 1px solid #212529;
    color: #212529;
  }
  .subscribe:hover {
    color: #fff;
  }
  .subscribe:hover:after {
    width: 100%;
  }
  .subscribe:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
  }
@media (max-width: 700px) {
    .news-letter input{
        width: 70%;
    }
}
/****account****/
.account div {
    text-align: center;
    margin: 15px;
}
.account div i {
    font-size: 70px;
    margin-bottom: 10px;
}
@media (max-width: 700px) {
    .account div {
        margin: 0;
    }
    .account div i {
        font-size: 40px;
    }
    .account h5 {
        font-size: 15px;
    }
    .account p {
        font-size: 13px;
    }
    .call {
        font-size: 1rem
    }
}
/***accordian***/
#accordion {
    cursor: pointer;
}
#accordion ul li {
    list-style-type: none;
}
#accordion .card-header {
    background-color: #fff;
}
@media (max-width: 700px) {
    #accordion h5 {
        font-size: 1rem;
    }
}
/***social media***/
.social-media {
    display: flex;
    justify-content: center;
}
.social-media div i {
    font-size: 50px;
    margin-left: 20px;
}
.social-media div {
    margin: 5px;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 700px) {
    .social-media div i {
        font-size: 30px;
    }
}